<%- include ('layouts/header') %>

<img src="geeks.png" alt="Deskripsi Gambar" width="500" height="300"> 
 <main>
      <div class="container">
        <!-- <h1> Welcome,  </h1> -->
        <h2>About Us</h2>
        <p>
          Welcome to our website! We are glad to have you here. This is the home
          page where you can find the latest updates and news about our
          services.
        </p>
        <p>
          Feel free to explore and learn more about what we offer. We are
          committed to providing the best experience for our users.
        </p>
      </div>
    </main>
    <!-- <footer>&copy; 2024 My App. All rights reserved.</footer> -->
  </body>
</html>
